<p-toast></p-toast>

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>Biblioteca - {{editando?'Edicao de ': 'Cadastro de '}} Livros</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Título</label>
              <input pInputText type="text" name="titulo" [(ngModel)]="livro.titulo" #nome="ngModel" required minlength="3">

                <div *ngIf="titulo.hasError('required') && titulo.touched">Informe um nome</div>
                <div *ngIf="titulo.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Número de Exemplares</label>
              <input pInputText type="text" name="num" [(ngModel)]="livro.numExemplares" #nome="ngModel" required minlength="3">

                <div *ngIf="num.hasError('required') && num.touched">Informe um nome</div>
                <div *ngIf="num.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Área de Conhecimento</label>
              <input pInputText type="text" name="area" [(ngModel)]="livro.areaConhecimento" #nome="ngModel" required minlength="3">

                <div *ngIf="area.hasError('required') && area.touched">Informe um nome</div>
                <div *ngIf="area.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Local na Biblioteca</label>
              <input pInputText type="text" name="local" [(ngModel)]="livro.localBiblioteca" #nome="ngModel" required minlength="3">

                <div *ngIf="local.hasError('required') && local.touched">Informe um nome</div>
                <div *ngIf="local.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>


            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
                <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/livros/novo"></button>
                <a routerLink="/livros"> Voltar para a pesquisa</a>
            </div>


        </div>
    </form>
</div>
